.text-center{
  color: white;
  text-align:center;
}
.bg-red{
  background-color: black;
  
}
.mx-auto{
  margin: auto;
}
.flex{
  display: flex;
  justify-content: center;
  
} 

.flex-col{
  flex-direction: column;
}

.items-center{
    text-align: center;
}

.cont{
     background-color: rgb(13, 255, 0);
     width: fit-content;
     margin: auto;
     padding: 2rem;
     border-radius: 2rem;
}